@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard font */
@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

html {
  box-sizing: border-box;
}
body {
  font-family: "Pretendard", "Noto Sans KR", "sans-serif" !important;
}
.mantine-RichTextEditor-root {
  border: none !important;
  /* width: 80%; */
}
.mantine-RichTextEditor-content {
  min-height: 75vh;
}

.text-decorate-float-box::before {
  content: "";
  position: absolute;
  z-index: -10;
  display: inline-block;
  background-color: rgba(192, 132, 252);
  width: 55px;
  height: 30px;
  translate: 0 -10px;
}

.text-decorate-under::before {
  content: "";
  position: absolute;
  translate: 8px 18px;
  display: inline-block;
  width: 100px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  /* margin-right: 0.75rem; */
}
