@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  box-sizing: border-box;
}
.mantine-RichTextEditor-content {
  min-height: 75vh;
}

.text-decorate-float-box::before {
  content: "";
  position: absolute;
  z-index: -10;
  display: inline-block;
  background-color: rgba(192, 132, 252);
  width: 55px;
  height: 30px;
  translate: 0 -10px;
}

.text-decorate-under::before {
  content: "";
  position: absolute;
  translate: 8px 18px;
  display: inline-block;
  width: 100px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  /* margin-right: 0.75rem; */
}
